In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [2]:
driver=webdriver.Chrome(executable_path='C:/chromedriver/chromedriver.exe')

In [3]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.')

In [4]:
rating=[]
review=[]
full_review=[]

In [5]:
search=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
search.click()

In [6]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rating_tag)

10

In [7]:
for r in rating_tag:
    rating.append(r.text)

In [8]:
re_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
len(re_tag)

10

In [9]:
for r in re_tag:
    review.append(r.text)

In [10]:
f_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
len(f_tag)

10

In [11]:
for r in f_tag:
    full_review.append(r.text)

In [12]:
reviews=pd.DataFrame({'RATINGS':rating,'REVIEW':review,'FULL REVIEW':full_review})
reviews

,RATINGS,REVIEW,FULL REVIEW
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
5,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
6,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
7,5,Worth every penny,It’s been almost a month since I have been usi...
8,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
9,4,Nice product,Awesome Phone. Slightly high price but worth. ...

i am not able to scrape the other reviews on the next pages.

# question8 of assignment2

In [13]:
driver2=webdriver.Chrome(executable_path='C:/chromedriver/chromedriver.exe')

In [14]:
driver2.get('https://www.flipkart.com/ ')

In [15]:
search=driver2.find_element_by_xpath("//div[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys('sneakers')
button=driver2.find_element_by_xpath("//div[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
button.click()

In [16]:
brand_name=[]
description=[]
price=[]
discount=[]

In [18]:
p_tag=driver2.find_elements_by_xpath("//div[@class='_2WkVRV']")
len(p_tag)

40

In [19]:
for c in p_tag:
    brand_name.append(c.text)
print(brand_name)

['Chevit', 'World Wear Footwear', 'Robbie jones', 'Chevit', 'Axter', 'Oricum', 'Chevit', 'Magnolia', 'Shoes Bank', 'Chevit', 'Aura', 'LeatherKraft', 'Rockfield', 'Stefano Rads', 'Restinfoot', 'ZOVIM', 'World Wear Footwear', 'Chevit', 'Chevit', 'D-SNEAKERZ', 'Believe', 'Swiggy', 'T-Rock', 'Skechers', 'Sparx', 'Red Rose', 'Echor', 'Robbie jones', 'Hotstyle', 'Chevit', 'Skechers', 'Chevit', 'Black Bottom', 'Chevit', 'Wika', 'Rockfield', 'Chevit', 'Englewood', 'Fzzirok', 'Kraasa']

In [21]:
d_tag=driver2.find_elements_by_xpath("//a[@class='IRpwTa']")
len(d_tag)

33

In [22]:
for c in d_tag:
    description.append(c.text)

In [23]:
p_tag=driver2.find_elements_by_xpath("//div[@class='_30jeq3']")
len(p_tag)

40

In [24]:
for c in p_tag:
    price.append(c.text)

In [28]:
r_tag=driver2.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
len(r_tag)

39

there is no discount for one product that is why we have one null value

In [29]:
for c in r_tag:
    discount.append(c.text)

In [33]:
product=pd.DataFrame({'brands':brand_name[0:40],'prices':price[0:40]})
product

                 brands  prices
0                Chevit    ₹449
1   World Wear Footwear    ₹474
2          Robbie jones    ₹399
3                Chevit    ₹597
4                 Axter    ₹284
5                Oricum    ₹398
6                Chevit    ₹299
7              Magnolia    ₹348
8            Shoes Bank    ₹349
9                Chevit    ₹236
10                 Aura    ₹699
11         LeatherKraft    ₹359
12            Rockfield    ₹379
13         Stefano Rads    ₹242
14           Restinfoot    ₹369
15                ZOVIM    ₹378
16  World Wear Footwear    ₹228
17               Chevit    ₹236
18               Chevit    ₹799
19           D-SNEAKERZ    ₹368
20              Believe    ₹446
21               Swiggy    ₹759
22               T-Rock    ₹379
23             Skechers  ₹2,794
24                Sparx    ₹699
25             Red Rose    ₹378
26                Echor    ₹601
27         Robbie jones    ₹499
28             Hotstyle    ₹203
29               Chevit    ₹624
30             Skechers  ₹2,794
31               Chevit    ₹499
32         Black Bottom    ₹399
33               Chevit    ₹624
34                 Wika    ₹395
35            Rockfield    ₹379
36               Chevit    ₹236
37            Englewood    ₹499
38              Fzzirok    ₹420
39               Kraasa    ₹474

i am not able to create the dataframe as the values are missing or less in both description and discount column.