In [39]:
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup

In [40]:
driver = webdriver.Chrome(executable_path='C:/chromedriver/chromedriver.exe')

In [41]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [42]:
soup= BeautifulSoup(driver.page_source, 'html.parser')

In [43]:
job_search=driver.find_element_by_id('KeywordSearch')
job_search.send_keys('Data Scientist')
loc_search=driver.find_element_by_id('LocationSearch')
loc_search.send_keys('Noida')

In [44]:
search=driver.find_element_by_id('HeroSearchButton')
search.click()

In [45]:
url='https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'

In [46]:
driver.get(url)

In [47]:
company_names=[]
no_of_salaries=[]
average_salary=[]
min_and_max_salary=[]

In [50]:
c_tags=soup.find_all('p',attrs={'m-0 '})
c_tags

[]

In [51]:
for i in c_tags:
    comp=i.text
    company_names.append(comp)
print(company_names[0:10])

[]

In [20]:
s_tags=driver.find_elements_by_xpath("//div[@class='job-info']/p[4]")
s_tags=s_tags[0:10]

In [21]:
for i in s_tags:
    salary=i.text
    no_of_salaries.append(salary)
print(company_names[0:10])

['Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist']

In [ ]:
did not able to scrape the company names