In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [2]:
driver=webdriver.Chrome(executable_path='C:/chromedriver/chromedriver.exe')

In [3]:
driver.get('https://www.myntra.com/shoes ')

In [4]:
price_filter=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]")
price_filter.click()
color_filter=driver.find_element_by_xpath("//li[@class='colour-listItem']/label[1]")
color_filter.click()

In [5]:
brand_name=[]
description=[]
price=[]

In [6]:
b_tag=driver.find_elements_by_xpath("//h3[@class='product-brand']")
len(b_tag)

50

In [8]:
d_tag=driver.find_elements_by_xpath("//h4[@class='product-product']")
len(d_tag)

50

In [9]:
p_tag=driver.find_elements_by_xpath("//div[@class='product-price']")
len(p_tag)

50

In [10]:
for c in b_tag:
    brand_name.append(c.text)
for c in d_tag:
    description.append(c.text)
for c in p_tag:
    price.append(c.text)

In [11]:
shoes=pd.DataFrame({'brand_name':brand_name,'short_description':description,'shoe_price':price})
shoes

,brand_name,short_description,shoe_price
0,DIESEL,Men DANNY LC Sneakers,Rs. 9093Rs. 13990(35% OFF)
1,Nike,PEGASUS FLYEASE Running Shoes,Rs. 7496Rs. 9995(25% OFF)
2,Nike,Men ZOOM FLY 3 Running Shoes,Rs. 9796Rs. 13995(30% OFF)
3,Nike,Men JORDAN DELTA Basketball,Rs. 12495
4,ADIDAS,Men SOLAR DRIVE 19 M Running,Rs. 8399Rs. 11999(30% OFF)
5,Nike,Men JOYRIDE Running Shoes,Rs. 11996Rs. 14995(20% OFF)
6,Nike,Men React Infinity Running,Rs. 11931Rs. 15495(23% OFF)
7,ADIDAS Originals,Men Nite Jogger Fluid Sneakers,Rs. 10399Rs. 12999(20% OFF)
8,Nike,Men AIR ZOOM VOMERO Running,Rs. 10796Rs. 13495(20% OFF)
9,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 8621Rs. 11495(25% OFF)
10,Nike,Men AIR MAX 90 Sneakers,Rs. 7927Rs. 10295(23% OFF)
11,Nike,Women PEGASUS 37 Running Shoes,Rs. 7996Rs. 9995(20% OFF)
12,Cole Haan,Women Leather Sneakers,Rs. 10999
13,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999
14,Puma,Men SPEED 500 2 Running Shoes,Rs. 7999Rs. 9999(20% OFF)
15,ADIDAS Originals,Men YUNG-1 Sneakers,Rs. 6819Rs. 10999(38% OFF)
16,ADIDAS Originals,Men Superstar Vegan Sneakers,Rs. 6799Rs. 7999(15% OFF)
17,Geox,Men Leather Driving Shoes,Rs. 9999
18,Nike,Women AIR ZOOM Running Shoes,Rs. 7496Rs. 9995(25% OFF)
19,UNDER ARMOUR,HOVR Guardian 2 Sports Shoes,Rs. 11999
20,ADIDAS Originals,Men Solid NMD_R1 Sneakers,Rs. 9099Rs. 12999(30% OFF)
21,Hush Puppies,Men Colourblocked Driving Shoes,Rs. 8999
22,Geox,Men Leather Formal Derbys,Rs. 11490
23,ADIDAS Originals,Men NITE JOGGER Sneakers,Rs. 11199Rs. 13999(20% OFF)
24,Hush Puppies,Men Leather Slip-On Sneakers,Rs. 6999
25,ADIDAS Originals,Men Superstar Sneakers,Rs. 8799Rs. 10999(20% OFF)
26,Nike,Women REACT Running Shoes,Rs. 8636Rs. 11995(28% OFF)
27,Hush Puppies,Men Solid Slip-On Sneakers,Rs. 6999
28,Nike,Men AIR ZOOM Running Shoes,Rs. 7721Rs. 10295(25% OFF)
29,ADIDAS,Men ALPHATORSION Running Shoes,Rs. 7499Rs. 9999(25% OFF)
30,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
31,Nike,Men KD13 EP Basketball Shoes,Rs. 9746Rs. 12995(25% OFF)
32,Geox,Men Leather Sneakers,Rs. 9999
33,Geox,Men Leather Driving Shoes,Rs. 7999
34,Geox,Men Solid Leather Sneakers,Rs. 11999
35,ADIDAS Originals,Women DEERUPT Runner Sneakers,Rs. 8999
36,Geox,Men Leather Formal Oxfords,Rs. 10490
37,Geox,Men Leather Formal Oxfords,Rs. 12490
38,Cole Haan,Leather Sneakers,Rs. 10999
39,Nike,Women AIR MAX VERONA Sneakers,Rs. 7496Rs. 9995(25% OFF)
40,Cole Haan,Men Traveller Leather Penny Loafers,Rs. 9999Rs. 19999(50% OFF)
41,Kenneth Cole,Women Solid Flat Boots,Rs. 9513Rs. 13590(30% OFF)
42,Heel & Buckle London,Men Leather Formal Oxfords,Rs. 7693Rs. 10990(30% OFF)
43,Cole Haan,Men Wingtip Oxford Sneakers,Rs. 12999
44,Kenneth Cole,Women LeatherSneakers,Rs. 7343Rs. 10490(30% OFF)
45,UNDER ARMOUR,Men HOVR Strt Walking Shoes,Rs. 9999
46,Nike,Men JORDAN DELTA Sneakers,Rs. 8796Rs. 10995(20% OFF)
47,Puma,SPEED Orbiter Running Shoes,Rs. 9749Rs. 12999(25% OFF)
48,Geox,Women Sequinned Sneakers,Rs. 9999
49,Cole Haan,Men Solid Sneakers,Rs. 8499Rs. 16999(50% OFF)

# answer10 assignment2

In [27]:
driver2=webdriver.Chrome(executable_path='C:/chromedriver/chromedriver.exe')

In [28]:
driver2.get('https://www.amazon.in/')

In [29]:
search=driver2.find_element_by_id('twotabsearchtextbox')
search.send_keys('laptop')
button=driver2.find_element_by_id('nav-search-submit-button')
button.click()

In [30]:
intel7=driver2.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/span")
intel7.click()
intel9=driver2.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/span")
intel9.click()

In [36]:
title=[]
rating=[]
l_price=[]

In [32]:
t_tag=driver2.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
len(t_tag)

25

In [33]:
r_tag=driver2.find_elements_by_xpath("//span[@class='a-size-base']")
len(r_tag)

25

In [37]:
price_tag=driver2.find_elements_by_xpath("//span[@class='a-price-whole']")
len(p_tag)

20

In [38]:
for c in t_tag:
    title.append(c.text)
for c in r_tag:
    rating.append(c.text)
for c in price_tag:
    l_price.append(c.text)

In [42]:
laptop=pd.DataFrame({'laptop title':title[0:10],'Ratings':rating[0:10],'laptop_price':l_price[0:10]})
laptop

                                        laptop title Ratings laptop_price
0  Mi Notebook Horizon Edition 14 Intel Core i5-1...     407       50,999
1  Mi Notebook Horizon Edition 14 Intel Core i5-1...     407       50,999
2  Dell Alienware m15(R3) 15.6-inch FHD Gaming La...      14     1,97,200
3  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...       9       87,029
4  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...     177       75,482
5  HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...       1       74,990
6  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...      62       77,990
7  (Renewed) Dell Latitude E6420 14 Inch Laptop (...       1       72,805
8  Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...       8       82,990
9  HP 14 10th Gen Intel Core i7 Ultra Thin and Li...      16       72,815